@model string

@if(ViewData["Title"] == "Home")
{
    <a href="https://www.linkedin.com/in/maryna-haiduk-3a7644227/" target="_blank">LinkedIn profile.</a>
}
else if(ViewData["Title"] == "Projects")
{
    <a href="https://github.com/Maryna-Haiduk" target="_blank">Github profile.</a>
}
